torch==2.5.1
numpy==2.2.6
tqdm==4.67.1
transformers==4.43.0
peft==0.10.0
scikit-learn==1.6.1
pyyaml==6.0.2
ortools==9.12.4544
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2